{% extends 'base.html.twig' %}

{% block title %}New Instructor{% endblock %}

{% block body %}
    <div class="container w-50">

        <h1>Create new Instructor</h1>

        {{ include('admin_instructor/_form.html.twig') }}

        <a href="{{ path('admin_instructor') }}">back to list</a>
    </div>
{% endblock %}
