{% extends 'base.html.twig' %}

{% block title %}Curricula{% endblock %}

{% block body %}
    <div class="container w-75">
        <h1>Curriculua </h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th colspan=2>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for curriculum in curricula %}
                <tr>
                    <td>{{ curriculum.name }}</td>
                    <td class="d-flex ">
                        <a class="btn btn-wild-yellow " href="{{ path('admin_curriculum_edit', {'id': curriculum.id}) }}">Update</a>
                        {{ include('curriculum/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no curriculum found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-primary text-white" href="{{ path('admin_curriculum_new') }}" >Create new</a>
    </div>
{% endblock %}
