{% extends 'base.html.twig' %}

{% block title %}New Curriculum{% endblock %}

{% block body %}
    <h1>Create new Curriculum</h1>

    {{ include('curriculum/_form.html.twig') }}

    <a href="{{ path('curriculum_index') }}">back to list</a>
{% endblock %}
