{% extends 'base.html.twig' %}

{% block title %}New Curriculum{% endblock %}

{% block body %}
    <div class="container w-75">
        <h1>Create new Curriculum</h1>
        {{ include('admin_curriculum/_form.html.twig') }}
        <a href="{{ path('admin_curriculum') }}">back to list</a>
    </div>
{% endblock %}
