{% extends 'base.html.twig' %}

{% block title %}New Checkpoint{% endblock %}
    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('form') }}
    {% endblock %}
{% block body %}
    <div class="container w-50">

        <h1>Create new Checkpoint</h1>

        {{ include('admin_checkpoint/_form.html.twig') }}

        <a href="{{ path('admin_home') }}">back to list</a>
    </div>
{% endblock %}
